#main-content {
    height: 100%;
}

#div-content-main {
    min-height: 100vh;

}

#logo-img {
    max-width: 7.5rem;
}

#right-content {
    padding-right: 32px !important;
    padding-bottom: 32px !important;
    margin-left: 365px !important;
    height: 100%;
}

#content-right {
    display: flex;
    height: 100%;
}

#grid-right-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    padding-right: 20px !important;
}

#grid-left-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 70%;

}

.outline-card {
    padding-inline: 12px !important;
    padding-top: 24px !important;
    grid-column: span 2;
    border-radius: 24px;
    border: 3px solid #E9E9E9;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 45rem !important;
    margin-top: 2rem !important;
}

.card-cinza {
    padding-inline: 16px !important;
    padding-top: 28px !important;
    height: 270px;
    border-radius: 24px;
    background: linear-gradient(92deg, #F3F3F3 1.36%, #E9E9E9 99.87%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.group-card-element {
    padding-inline: 10px !important;
    margin-bottom: 20px !important;
}

.nav-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-filter-items{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-filter-items span{
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    padding: 8px 12px !important;
    background: rgba(243, 190, 190, 0.41);
    color: #E32D38;
    font-size: 16px;
    font-weight: 600;
}

.nav-filter-items span img{
    margin-top: 3px !important;
}

.header-card {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px !important;
}

.header-card>p {
    font-size: 28pt !important;
    margin: 0 0 0 50px !important;
}

.align-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-card-row>p {
    font-size: 28pt;
}

.header-card p {
    color: #726E6E;
    font-size: 20px;
    font-weight: 700;
}

.item-list-card-extrato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.386);
    padding: 8px 16px !important;
    margin: 40px auto !important;
    gap: 10px;
}

.title-card-extrato {
    display: flex;
    flex-direction: column;
}

.icon-card-extrato
{
    display: flex;
    gap: 10px;
}

.title-card-extrato h4 {
    color: #726E6E;
    font-size: 18px;
    font-weight: 700 !important;
}

.title-card-extrato span {
    color: #18A900;
    font-size: 16px;
    font-weight: bold;
}

.red span {
    color: #E32D38;
}

.value-card {
    display: block;
    color: #000;
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px !important;
}

#melhores-produtos {
    height: 40%;
    padding-bottom: 24px !important;
}

#grafico {
    display: flex;
    align-items: center;
    padding-inline: 38px !important;
}

#grafico img {

    max-width: 100%;
}

#unidades-marca {
    height: 60%;
    padding-bottom: 24px !important;
}


@media (max-width: 1670px){

    .align-card-row>p {
        font-size: 25pt;
    }
}

@media (max-width: 1570px){

    .align-card-row>p {
        font-size: 20pt;
    }

}

@media (max-width: 1500px){
    .header-card p {
        color: #726E6E;
        font-size: 30px !important;
        font-weight: 700 !important;
    }
}

 

@media (max-width: 1405px){

    .header-card p {
        font-size: 25px !important;
    }

    .align-card-row>p {
        font-size: 15pt;
    }
}

@media (max-width: 1200px) {

    #content-right {
        display: flex;
        flex-direction: column;
    }

    #grid-right-content {
        width: 100%;
        padding-right: 0 !important;

    }

    #grid-left-content {
        width: 100%;
        margin-top: 28px !important;
    }

    .header-card p {
        color: #726E6E;
        font-size: 20px !important;
        font-weight: 700 !important;
    }

    .align-card-row > p {

        font-size: 28pt !important;
    }

}

@media (max-width: 950px) {

    #right-content {
        margin-left: 0 !important;
        padding-inline: 32px !important;
    }
}

@media (max-width: 600px){
    /* .nav-filter-items span{
       
    } */

    #options-filter-responsive{
        display: none;
    }
}

@media (max-width: 500px){
    #options-search-responsive{
        display: none;
    }
}

@media (max-width: 460px) {

    #grid-right-content {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 430px){
    .nav-filter{
        display: none;
    }
}