:root
{
    --primary-red : #F3BEBE;
    --secundary-red : #E32D38;
    --terciary-red : #fa9a9a;
    --primary-white : #FFFFFF;
    
}

*{
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none;
    list-style: none;
}

.item-list-card
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    background: linear-gradient(92deg, #F3F3F3 1.36%, #E9E9E9 99.87%);
    padding: 8px 16px !important;
    margin-top: 16px !important;
}

.item-list-card button
{   
    border-radius: 8px;
    background: #8BFF78;
    color: #18A900;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px !important;
    border: none;
    max-height: 30px;
}

.title-card{
    display: flex;
    flex-direction: column;
}

.title-card h4{
    color: #726E6E;
    font-size: 18px;
    font-weight: 700 !important;
}

.title-card span{
    color: #726E6E;
    font-size: 16px;
    font-weight: 400;
}
/* Header customization */
#header-main
{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.left-header-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.btn_menu
{
    border: none;
    background-color: transparent;
    padding: 4px !important;
    cursor: pointer;
    display: none;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: red;
    font-size: 16px;
}
.search-icon img
{
    max-width: 30px;
}

.search-input {
    padding: 10px 10px 10px 65px !important; /* padding para o espaço do ícone */
    background-color: var(--primary-red); /* cor de fundo */
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 400px;
    height: 52px;
}

.search-input:focus {
    border-color: #0078D7; /* cor da borda ao focar no input */
}

/* Sidebar customization */
#sidebar
{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    align-items: center;
    background-color: var(--primary-red);
    box-shadow: 14px 4px 23.9px 0px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-width: 360px !important;
}

#nav-content
{
    max-width: 100%;
    width: 100%;
}
.navlink
{
    display: flex;
    align-items: center;
    color: var(--secundary-red);
    font-size: 1.2rem;
    font-weight: 700;
    max-width: 90%;
    height: 52px;
    padding-left: 40px !important;
    border-radius: 6px;
    margin-top: 24px !important;
    cursor: pointer;
}

.navlink:hover 
{
    background-color: var(--terciary-red);
}

.navlink img
{
    margin-right: 20px !important;
}

.active-link
{
    background-color: var(--terciary-red);
    border-right: 5px solid var(--secundary-red);
}



@media (max-width: 950px) {

    #sidebar{
        display: none;
    }

    .btn_menu
    {
        display: block;
    }
    
}

@media (max-width: 700px) {

    .search-container{
        
        display: none;
    }   
}
